body{
    position:relative;
    overflow-x:hidden;
    margin: 0;
    font-family: Helvetica;
    background-size: cover;
     
}

/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/*****Content*****/

@media (max-width:900px){
    .content,.contentSmall{
        position:relative;
        margin:0px auto;
        width:90%;
    }
    .section{
        padding:25px 0px;
    }
}
@media (min-width:900px){
    .content{
        position:relative;
        margin:0px auto;
        width:80%
    }
    .contentSmall{
        position:relative;
        margin:0px auto;
        width:65%
    }
    .section{
        padding:50px 0px;
    }
}

/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/**Header**/

#headerDesktop{
    position:relative;
    width:100%;
    padding:25px 0px;
}
#headerDesktop .logo{
    float:left;
    width: 200px;
    height:62px;
    background: url('../../static/images/logo.png') center no-repeat;
    background-size: contain;
}
#headerDesktop .navbar{
    float:right;
    width:auto;
    margin-top:15px;
    list-style: none;
    display: flex;
    align-items:normal;
}
#headerDesktop .navbar li{
    width:auto !important;
    padding:0px 25px;
}

 
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/************************************************************************************************************************************/
/**Home**/
  
 #section2 .card{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10PX;
    border-radius: 30px;
    transition: border 1s;
    background: rgb(233, 227, 227);
}

/* section 3 */
#section3 .card{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    transition: border 1s;
    background: rgb(233, 227, 227);
}



/* section 5 footer */
#footer{
position:relative;
padding:50px 0px !important;
}
#footer input[type="text"]{
padding:25px;
}



/* section 2 from our process */
 /* Custom styles */
 .accordion-item {
    border-radius: 20%;
  }
  .accordion-header {
    background-color: #f9f9f9;
      cursor: pointer;
      position: relative;
      padding: 20px;
      border-radius: 15%;
      transition: background-color 0.3s ease-in-out;
  }
  .accordion-header:hover {
    background-color: #e0e0e0;
  }
  .accordion-content {
    display: none;
    padding: 10px;
  }
  .accordion-content img {
    max-width: 100%;
    height: auto;
  }
  .accordion-arrow::after {
    content: '\f078'; /* Unicode for the arrow icon (downward arrow) */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  .collapsed .accordion-arrow::after {
    transform: translateY(-50%) rotate(-180deg); /* Rotate the arrow when collapsed */
  }

